body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input.error {
  border-color: red;
}


.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}
.container{
  width:100%;
  margin: 0 auto;
  max-width:1080px;
  padding: 20px 5%;
  box-sizing: border-box;
}

.uploadProject{
  .ant-calendar-picker{
    width:100%;
  }
}

.text-center{text-align:center}
.text-right{text-align:right}
.text-left{text-align:left}

.display-none{display:none}
.display-flex{display:flex}
.display-block{display:block}

.align-items-center{align-items: center;}
.justify-content-center{justify-content: center;}
.justify-content-end{justify-content: flex-end;}

footer{
  height:80px; display:flex; flex-direction: column; align-items: center; justify-content: center; font-size:1rem; text-align:center;
}
.CategoryTab{
  margin-right:10px;
  font-size:12px;

  cursor:pointer;
  &:hover{
    color:#961210;
  }
}
.ListWrap{
  margin-top:15px;
  margin-bottom:30px;
  .item{
    position:relative;
    width:100%;
    .thumbnail{
      width:100%;
      min-height:200px;
      display:block;
      height:auto;
      border:1px solid #444444
    }
    p{font-size:12px;}
    p.date{
      opacity:0.8
    }
    .category{
      position:absolute;
      top:0;
      left:0;
      padding:3px 5px;
      color:#fff;
      font-size:10px;
      &.personal{
        background:#961210;
      }
      &.company{
        background:#000080;
      }
    }
  }
}

@media (max-width: 767px) {
  .container{padding: 0 3%;}
}