@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #434343;
  background-color: #fff;
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input.error {
  border-color: red;
}


.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}
.container{
  width:100%;
  margin: 0 auto;
  max-width:1250px;
  padding: 20px 5%;
  box-sizing: border-box;
}
.my-50{
  margin: 50px 0;
}
.ml-5{
  margin-left:5px;
}
.mr-5{
  margin-right:5px;
}

.uploadProject{
  .input_wrap{ 
    margin-bottom:10px;
    label{margin-bottom:5px; display:block; font-weight:500}
    .thumbnail_wrap{
      display:flex;
      justify-content: space-between;
      img{
        width:100%; max-width:500px;
      }
    }
    .DraftEditor-root{
      min-height:100px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-variant: tabular-nums;
      list-style: none;
      -webkit-font-feature-settings: 'tnum';
      font-feature-settings: 'tnum', "tnum";
      position: relative;
      display: inline-block;
      width: 100%;
      min-width: 0;
      padding: 4px 11px;
      color: rgba(0, 0, 0, 0.65);
      font-size: 14px;
      line-height: 1.5715;
      background-color: #fff;
      background-image: none;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;

    }
  }
}

.btn{
  line-height: 1.5715;
    position: relative;
    font-weight: 500;
    display:inline-block;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.65);
    background: #fff;
    border-color: #d9d9d9;
    border-radius: 4px;
  &.red{
    border-color:transparent ;
    background:#f5222d;
    color:#fff;
    &:hover,
    &:focus{
      color:#fff;
      border-color:transparent ;
      background: #cf1322;
    }
  }
  &.blue{
    color:#fff;
    border-color:transparent ;
    background:#1890ff;
    &:hover,
    &:focus{
      border-color:transparent ;
      background: #096dd9;
    }
  }
  &.cyan{
    color:#fff;
    border-color:transparent ;
    background:#13c2c2;
    &:hover,
    &:focus{
      border-color:transparent ;
      background: #08979c
    }
  }
  &.green{
    color:#fff;
    border-color:transparent ;
    background:#52c41a;
    &:hover,
    &:focus{
      border-color:transparent ;
      background: #389e0d;
    }
  }
  &.lime{
    color:#fff;
    border-color:transparent ;
    background:#a0d911;
    &:hover,
    &:focus{
      border-color:transparent ;
      background: #7cb305;
    }
  }
  &.yellow{
    color:#fff;
    border-color:transparent ;
    background:#fadb14;
    &:hover,
    &:focus{
      border-color:transparent ;
      background: #d4b106
    }
  }
}
.text-center{text-align:center}
.text-right{text-align:right}
.text-left{text-align:left}

.display-none{display:none}
.display-flex{display:flex}
.display-block{display:block}

.align-items-center{align-items: center;}
.justify-content-center{justify-content: center;}
.justify-content-end{justify-content: flex-end;}

footer{
  height:80px; display:flex; flex-direction: column; align-items: center; justify-content: center; font-size:1rem; text-align:center;
}
.CategoryTab{
  margin-right:10px;
  font-size:12px;

  cursor:pointer;
  &:hover{
    color:#961210;
  }
}
.category{
  padding:3px 5px;
  color:#fff;
  font-size:10px;
  margin-right:5px;
  &.personal{
    background:#961210;
  }
  &.company{
    background:#000080;
  }
}
.ListWrap{
  margin-top:15px;
  margin-bottom:30px;
  .item{
    position:relative;
    width:100%;
    margin-bottom:20px;
    .thumbnail{
      width:100%;
      min-height:200px;
      display:block;
      margin:0 auto;
      height:auto;
      border:1px solid #444444;
    }
    h3{margin-top:5px;}
    p{font-size:12px; color: #434343;}
    p.date{
      opacity:0.8
    }
    .category{
      position:absolute;
      top:0;
      left:0;
    }
    
  }
}

.DetailPageWrap{
  img {
    margin: 0 auto;
    width:100%;
    max-width:300px;
  }
  .contents{
    line-height:1.5;
    p{margin-bottom:0;}
  }
  .tags_wrap{
    margin: 20px 0;
  }
}
@media (max-width: 767px) {
.container{padding: 0 3%;}
.uploadProject{
  .input_wrap{   
    .thumbnail_wrap{
      flex-direction: row;
      img{
        width:100%;
      }
    }
  }
}
}