@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

$white :  #ffffff;
$primary_color1 : #961210;
/* 밝기 */
$primary1_lighten10: #c41815;
$primary1_lighten20: #e82724;
$primary1_lighten30: #ed5552;
$primary1_lighten40: #f18280;
$primary1_lighten50: #f6b0af;
$primary1_lighten60: #fbdddd;

$primary1_darken10: #680c0b;
$primary1_darken20: #3a0706;
$primary1_darken30: #0c0101;

/* 채도*/
$primary1_saturate10: #9e0a08;

$primary1_desaturate10 : #8e1a18;
$primary1_desaturate20 : #852221;
$primary1_desaturate30 : #7d2a29;
$primary1_desaturate40 : #753231;
$primary1_desaturate50 : #6c3a39;
$primary1_desaturate60 : #644242;
$primary1_desaturate70 : #5c4a4a;
$primary1_desaturate80 : #545252;

$primary_color2 : #000080;


body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: $primary1_desaturate80;
  background-color: $white;
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input.error {
  border-color: $primary1_lighten20;
}


.input-feedback {
  color: $primary1_lighten20;
  height: 5px;
  margin-top: -12px;
}
.container{
  width:100%;
  margin: 0 auto;
  max-width:1250px;
  padding: 20px 5%;
  box-sizing: border-box;
}
.my-50{
  margin: 50px 0;
}
.ml-5{
  margin-left:5px;
}
.mr-5{
  margin-right:5px;
}

.uploadProject{
  .input_wrap{ 
    margin-bottom:10px;
    label{margin-bottom:5px; display:block; font-weight:500}
    .thumbnail_wrap{
      display:flex;
      justify-content: space-between;
      img{
        width:100%; max-width:500px;
      }
    }
  }
}

.btn{
  line-height: 1.5715;
    position: relative;
    font-weight: 500;
    display:inline-block;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.65);
    background: $white;
    border-color: #d9d9d9;
    border-radius: 4px;
   
  &.red{
    border-color:transparent ;
    background:#f5222d;
    color:$white;
    &:hover,
    &:focus{
      color:$white;
      border-color:transparent ;
      background: #cf1322;
    }
  }
  &.volcano{
    border-color:transparent;
    background:#fa541c;
    color:$white;
    &:hover,
    &:focus{
      background:#d4380d;
      border-color:transparent ;
      color:$white
    }
  }
  &.orange{
    border-color:transparent;
    background:#fa8c16;
    color:$white;
    &:hover,
    &:focus{
      background:#d46b08;
      color:$white;
      border-color:transparent;
    }
  }
  &.gold{
    color:$white;
    background:#faad14;
    border-color:transparent;
    &:hover,
    &:focus{
      color:$white;
      background:#d48806;
      border-color:transparent;
    }
  }
  &.greekblue{
    color:$white;
    background:#2f54eb;
    border-color:transparent;
    &:hover,
    &:focus{
      color:$white;
      background:#1d39c4;
      border-color:transparent;
    }
  }
  &.blue{
    color:$white;
    border-color:transparent ;
    background:#1890ff;
    &:hover,
    &:focus{
      border-color:transparent ;
      background: #096dd9;
    }
  }
  &.cyan{
    color:$white;
    border-color:transparent ;
    background:#13c2c2;
    &:hover,
    &:focus{
      border-color:transparent ;
      background: #08979c
    }
  }
  &.green{
    color:$white;
    border-color:transparent ;
    background:#52c41a;
    &:hover,
    &:focus{
      border-color:transparent ;
      background: #389e0d;
    }
  }
  &.lime{
    color:$white;
    border-color:transparent ;
    background:#a0d911;
    &:hover,
    &:focus{
      border-color:transparent ;
      background: #7cb305;
    }
  }
  &.yellow{
    color:$white;
    border-color:transparent ;
    background:#fadb14;
    &:hover,
    &:focus{
      border-color:transparent ;
      background: #d4b106
    }
  }
  &.purple{
    color:$white;
    background:#722ed1;
    border-color:transparent;
    &:hover,
    &:focus{
      color:$white;
      background:#531dab;
      border-color:transparent;
    }
  }
  &.magenta{
    color:$white;
    background:#eb2f96;
    border-color:transparent;
    &:hover,
    &:focus{
      color:$white;
      background:#c41d7f;
      border-color:transparent;
    }
  }
}
.text-center{text-align:center}
.text-right{text-align:right}
.text-left{text-align:left}

.display-none{display:none}
.display-flex{display:flex}
.display-block{display:block}

.align-items-center{align-items: center;}
.justify-content-center{justify-content: center;}
.justify-content-end{justify-content: flex-end;}

footer{
  height:80px; display:flex; flex-direction: column; align-items: center; justify-content: center; font-size:1rem; text-align:center;
}
.CategoryTab{
  margin-right:10px;
  font-size:12px;

  cursor:pointer;
  &:hover{
    color:$primary_color1;
  }
}
.category{
  padding:3px 5px;
  color:$white;
  font-size:10px;
  margin-right:5px;
  &.personal{
    background:$primary_color1;
  }
  &.company{
    background:$primary_color2;
  }
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
  h3 {
    color: #fff;
  }
}
.ListWrap{
  margin-top:15px;
  margin-bottom:30px;
  .item{
    position:relative;
    width:100%;
    margin-bottom:20px;
    .thumbnail{
      width:100%;
      min-height:200px;
      display:block;
      margin:0 auto;
      height:auto;
      border:1px solid $primary1_desaturate80;
    }
    h3{margin-top:5px;}
    p{font-size:12px; color: $primary1_desaturate80;}
    p.date{
      opacity:0.8
    }
    .category{
      position:absolute;
      top:0;
      left:0;
    }
    
  }
}

.DetailPageWrap{
  img {
    margin: 0 auto;
    width:100%;
    max-width:300px;
  }
  .contents{
    line-height:1.5;
    p{margin-bottom:0;}
  }
  .tags_wrap{
    margin: 20px 0;
  }
}
@media (max-width: 767px) {
.container{padding: 0 3%;}
.uploadProject{
  .input_wrap{   
    .thumbnail_wrap{
      flex-direction: row;
      img{
        width:100%;
      }
    }
  }
}
}