html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: 1.3125;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; }

nav {
  width: 48px;
  padding: 20px; }
  nav svg {
    width: 48px; }

.btn-circle {
  border-radius: 50%;
  padding: 0.5rem 0.7rem; }

.btn-rounded {
  border-radius: 1.25rem; }

.offical-mark {
  height: 1.25em;
  fill: #1da1f2; }

.btn-twitter {
  border: 1px solid #1da1f2;
  color: #fff;
  background: #1da1f2; }
  .btn-twitter svg {
    fill: #fff;
    width: 1.2rem; }
  .btn-twitter:hover, .btn-twitter:focus {
    color: #fff;
    background: #1a91da; }

.icon {
  margin-right: 5px;
  fill: #657786;
  width: 1.2rem; }

.btn-outline-twitter {
  border: 1px solid #1da1f2;
  color: #1da1f2;
  background: #fff; }
  .btn-outline-twitter svg {
    fill: #1da1f2;
    width: 1.2rem; }
  .btn-outline-twitter:hover, .btn-outline-twitter:focus {
    background: rgba(29, 161, 242, 0.2); }

.text-gray {
  color: #657786;
  fill: #657786; }

.main {
  padding-top: 60px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto; }
  .main .main-header {
    background: #fff;
    height: 60px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 99; }
    .main .main-header h2 {
      font-size: 19px; }
    .main .main-header p {
      font-size: 13px; }
  .main img {
    max-width: 100%; }
  .main .profile_img {
    border-radius: 50%; }
  .main .profile_box .profile_img {
    width: 131px;
    height: 131px;
    border: 4px solid #fff;
    box-sizing: border-box; }
  .main .profile_box .justify-content-between.align-items-center {
    position: absolute;
    width: 100%;
    top: 140px; }
  .main .profile_box .btn_wrap .btn-circle {
    padding: 0.4rem 0.5rem; }
    .main .profile_box .btn_wrap .btn-circle svg {
      width: 1.4rem; }
  .main .profile_box .profile_info {
    margin-top: 70px; }
    .main .profile_box .profile_info h2 {
      font-size: 19px; }
    .main .profile_box .profile_info .twt_id {
      font-size: 15px; }
    .main .profile_box .profile_info p {
      font-size: 15px; }
  .main #twitterTab .nav-item {
    width: 25%;
    text-align: center;
    font-weight: bold;
    font-size: 15px; }
    .main #twitterTab .nav-item:hover {
      background: rgba(29, 161, 242, 0.2); }
    .main #twitterTab .nav-item .nav-link {
      color: #657786;
      padding: 1rem;
      border: none;
      box-sizing: border-box; }
      .main #twitterTab .nav-item .nav-link:hover {
        border: #fff;
        color: #1da1f2; }
      .main #twitterTab .nav-item .nav-link.active {
        color: #1da1f2;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #1da1f2; }
  .main .tab-content .profile_img {
    width: 48px;
    height: 48px;
    border: 1px solid #fff;
    box-sizing: border-box; }
  .main .twit_box {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #e6ecf0; }
    .main .twit_box:hover {
      background-color: #f5f8fa; }
    .main .twit_box > a {
      display: inline-flex;
      flex: none;
      margin: 0 5px; }
    .main .twit_box .pre_box {
      display: inline-flex;
      color: #14171a;
      flex: 1; }
      .main .twit_box .pre_box .box_info {
        padding: 0 10px;
        font-size: 15px;
        width: 100%; }
        .main .twit_box .pre_box .box_info h4 {
          font-size: 15px; }
        .main .twit_box .pre_box .box_info .hashtag {
          color: #1b95e0; }
        .main .twit_box .pre_box .box_info .media_wrap {
          border-radius: 14px;
          padding: 0;
          position: relative;
          overflow: hidden; }
          .main .twit_box .pre_box .box_info .media_wrap.image_2 {
            display: flex; }
            .main .twit_box .pre_box .box_info .media_wrap.image_2 .media_content img {
              max-height: 100%;
              max-width: initial;
              left: inherit; }
          .main .twit_box .pre_box .box_info .media_wrap.image_4 {
            display: flex; }
          .main .twit_box .pre_box .box_info .media_wrap .media_content {
            position: relative;
            padding-top: 56.25%;
            overflow: hidden;
            box-sizing: border-box;
            border: 1px solid #fff;
            /* 
              1:1 : padding-top: 100%;
              2:1 : padding-top: 50%
              1:2 : padding-top: 200%
              4:3 : padding-top: 75%
              16:9 : padding-top: 56.25%
*/ }
            .main .twit_box .pre_box .box_info .media_wrap .media_content img,
            .main .twit_box .pre_box .box_info .media_wrap .media_content video {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              max-width: 100%;
              height: auto; }
    .main .twit_box .twit_box_footer {
      justify-content: space-between; }
      .main .twit_box .twit_box_footer > span {
        display: inline-flex;
        color: #657786;
        transition: color 0.2s; }
        .main .twit_box .twit_box_footer > span > span {
          border-radius: 50%; }
        .main .twit_box .twit_box_footer > span .retwit:hover {
          color: #17bf63;
          cursor: pointer; }

/*sass --watch public/scss/style.scss:public/css/share_style.css*/

/*# sourceMappingURL=twt.css.map */
