$twitter_color: rgb(29, 161, 242);
$twitter_color_opacity2 : rgba(29, 161, 242, 0.2);
$white_color: #fff;
$black_color : #000;
$twitter_text_color: rgb(20, 23, 26);
$twitter_text_gray_color : rgb(101, 119, 134);
$twitter_dark_color:rgb(26, 145, 218);


html,body{
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  line-height: 1.3125;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

nav{
  width:48px;
  padding:20px;
  svg{
    width:48px;
  }
}

.btn-circle{
  border-radius:50%;
  padding: 0.5rem 0.7rem;
}

.btn-rounded{
  border-radius: 1.25rem;

}

.offical-mark{
  height:1.25em;
  fill:$twitter_color
}

.btn-twitter{
  border: 1px solid $twitter_color;
  color:$white_color;
  background:$twitter_color;
  svg{
    fill:$white_color;
    width: 1.2rem;
  }
  &:hover,
  &:focus{
    color:#fff;
    background:$twitter_dark_color;
  }
}

.icon{
  margin-right:5px;
  fill:$twitter_text_gray_color;
  width:1.2rem;
}

.btn-outline-twitter{
  border: 1px solid $twitter_color;
  color:$twitter_color;
  background:$white_color;
  svg{
    fill:$twitter_color;
    width: 1.2rem;
  }
  &:hover,
  &:focus{
    background:$twitter_color_opacity2;
  }
}

.text-gray{
  color: $twitter_text_gray_color;
  fill:$twitter_text_gray_color;
}

.main{
  padding-top:60px;
  width:100%;
  max-width:600px;
  margin: 0 auto;
  .main-header{
    background:$white_color;
    height:60px;
    width:100%;
    max-width:600px;
    margin:0 auto;
    top:0;
    left:0;
    z-index:99;
    h2{
      font-size:19px;
    }
    p{
      font-size:13px;
    }
  }
  img{
    max-width:100%;
  }

  .profile_img{
    border-radius: 50%;
  }

  .profile_box{
    .profile_img{
      width:131px;
      height:131px;
      border:4px solid #fff;
      box-sizing: border-box;
    }
    .justify-content-between.align-items-center{
      position: absolute;
      width:100%;
      top:140px;

    }
    .btn_wrap{
      .btn-circle{
        padding: 0.4rem 0.5rem;
        svg{
          width:1.4rem;
        }
      }
    }
    .profile_info{
    
      margin-top:70px;
      h2{
        font-size:19px;
      }
      .twt_id{
        font-size:15px;
      }
      p{
        font-size:15px;
      }
    }
  }
  #twitterTab{
    .nav-item{
      width:25%;
      text-align:center;
      font-weight:bold;
      font-size:15px;
      
      &:hover{
      
        background:$twitter_color_opacity2;
        
      }
      .nav-link{
        color:$twitter_text_gray_color;
        padding:1rem;
        border:none;
        box-sizing: border-box;

        &:hover{
          border: #fff;
          color:$twitter_color;

        }
      &.active{
        color:$twitter_color;
        border-top: none;
        border-left:none;
        border-right:none;
        border-bottom:2px solid $twitter_color;
      }
    }
    }    

  }
 
  .tab-content{
    .profile_img{
      width:48px;
      height:48px;
      border:1px solid #fff;
      box-sizing: border-box;
    }
  }

  .twit_box{
    padding:10px;
    box-sizing: border-box;
    border-bottom:1px solid rgb(230, 236, 240);
    &:hover{
     background-color: rgb(245, 248, 250);
    }
    >a{
      display: inline-flex;
      flex: none;
      margin:0 5px;
    }
    .pre_box{
      display: inline-flex; 
      color: #14171a;
      flex: 1;

      .box_info{
        padding: 0 10px;
        font-size:15px;
        width:100%;
        h4{
          font-size:15px;
        }
        .hashtag{
          color:rgb(27, 149, 224);
        }
        .media_wrap{
          border-radius: 14px;
          padding:0;
          position: relative;
          overflow: hidden;
          &.image_2{
            display:flex;
            .media_content{
              img{
                max-height:100%;
                max-width: initial; 
                left: inherit;             
              }
            }
          }
          &.image_4{
            display:flex;
          }
          .media_content{
            position: relative; 
            padding-top: 56.25%; 
            overflow: hidden;
            box-sizing: border-box;
            border: 1px solid #fff;
        
            /* 
              1:1 : padding-top: 100%;
              2:1 : padding-top: 50%
              1:2 : padding-top: 200%
              4:3 : padding-top: 75%
              16:9 : padding-top: 56.25%
*/
            img,
            video{
              position: absolute; 
              top: 0; 
              left: 0; 
              right: 0; 
              bottom: 0; 
              max-width: 100%; 
              height: auto;

            }
            
          }
        }
      }
    }
    .twit_box_footer{
      justify-content: space-between;
      >span{
        display:inline-flex;
        color:rgb(101, 119, 134);
        transition:color 0.2s;
        >span{
          border-radius: 50%;
        }
        .retwit{
            &:hover{
            color:rgb(23, 191, 99);
            cursor:pointer;
          }
        }
       
      }
    }
  }
  
}



/*sass --watch public/scss/style.scss:public/css/share_style.css*/