<!DOCTYPE html>
<html>
<%- include('../layout/twt_header.ejs') %>

<body>
  <nav class="d-none">
  </nav>

  <div class="container-fluid">
    <div class="contents">
      <header class="position-fixed">
        헤더

      </header>
      <div class="main">
        <div class="profile_box">
          <div class="header_bg" >
            <img src="/images/twitter_header.jpg">
          </div>
          <div class="">
            <img src="/images/profile_img.jpg" class="profile_img">
            <div class="btn_wrap">
              <a href="javascript:" class="btn btn-rounded">
                더보기
              </a>
              <a href="javascript:" class="btn btn-rounded">
                알림
              </a>
              <a href="javascript:" class="btn btn-rounded">
                팔로잉
              </a>
            </div>
          </div>
          <div class="profile_info">
            <h2>Wanna One <img src="" class="offical_mark"></h2>
            <h3 class="twt_id">@WannaOne_twt</h3>
            <p class="description">
              Wanna One (워너원) 공식 트위터 계정 입니다.</p>
            <p>
              <span class="link-img">

              </span>
              <a href="http://cafe.daum.net/WannaOneOfficial" target="_blank">
                http://cafe.daum.net/WannaOneOfficial
              </a>
              <span class="calander-img">

              </span>
              <span class="text-gray">
                가입일: 2017년 6월
              </span>
            </p>
            <p>
              <span class="font-weight-bold">
                0
              </span>
              <span> 팔로잉</span>
              <span class="font-weight-bold">
                300.4만
              </span>
              <span class="">팔로워</span>
            </p>
          </div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">     
            <a class="nav-link active" id="twit-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
              트윗
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link " id="twit-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                  트윗및 답글
                </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="twit-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                  미디어
                </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="twit-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                  마음에 들어요
                </a>
          </li>
        </ul>
        <div class="tab-content">
        <div class="tab-pane fade show active" id="twit">
          <div class="d-flex" data-type="image" data-img="1" data-datetime="1548598530">
            <a href="">
              <img class="profile_img" src="/images/profile_img.jpg">
            </a>
            <div class="pre_box">
              <div class="box_info">
                <h4>
                  <span class="font-weight-bold">
                    Wanna One 
                  </span>
                  <span class="text-gray">
                    @WannaOne_twt
                  </span>
                  <span class="text-gray">
                    1월 27일
                  </span>
                </h4>
              </div>

            </div>
          </div>

        </div>
        <div class="tab-pane fade" id="twitnmention">

        </div>
        <div class="tab-pane fade" id="media">

        </div>
        <div class="tab-pane fade" id="heart">

        </div>
        </div>
      </div>




      <div class="right-section">
        오른쪽 FIXED 부분
      </div>
    </div>

  </div>
</body>

</html>